.container {
  height: 660px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1112px) {
  .container {
    width: 90%;
    height: 70vmin;
  }
}
